page{
	background-color: #000000;
}
.addshoptxt{
	height: 82rpx;
	font-size: 68rpx;
	font-family: Inter-Bold, Inter;
	font-weight: bold;
	color: #F8B800;
	line-height: 80rpx;
}
.tijiaoss{
	width: 686rpx;
	height: 110rpx;
	background: #F8B800;
	box-shadow: 0rpx 0rpx 30rpx 0rpx rgba(0,0,0,0.05);
	border-radius: 24rpx 24rpx 24rpx 24rpx;
	opacity: 1;
	font-weight: bold;
	line-height: 110rpx;
	text-align: center;
}
.ipnytbigviwe{
	width: 686rpx;
	height: 356rpx;
	background: rgba(255,255,255,0.9);
	border-radius: 24rpx 24rpx 24rpx 24rpx;
	opacity: 1;
}
.leftitle{
	height: 38rpx;
	font-size: 32rpx;
	font-family: Inter-Bold, Inter;
	font-weight: bold;
	color: #000000;
	line-height: 38rpx;
}
.asad{
	width: 444rpx;
	height: 72rpx;
	background: #F8B800;
	border-radius: 12rpx 12rpx 12rpx 12rpx;
	opacity: 1;
}
.plas{
	font-size: 30rpx;
}